.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
logs
jobs
subs
tmp
*.sub
__pycache__
data/coco/annotations_trainval2014.zip
data/coco/train2014
data/coco/val2014
work_dir
work_dir/*
run.txt
data/
data/coco2014
data/coco/annotations/captions_train2014.json
data/coco/annotations/captions_val2014.json
data/coco/annotations/instances_train2014.json
data/coco/annotations/instances_val2014.json
data/coco/annotations/person_keypoints_train2014.json
data/coco/annotations/person_keypoints_val2014.json
saved/
saved/*
pretrained/
pretrained/*
inplace_abn/
inplace_abn
